:host {
  width: 992px;
}

.employees {
  width: 100%;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  &__buttons-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    button {
      background-color: rgb(0, 105, 217); // rgb(97, 97, 97)
      color: white;
    }
  }

  table {
    width: 100%;
  }
}